<!doctype html>
<html lang="en">
    <head>
    <title>Monopoly</title>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head> 
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/banker">Monopoly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>





<form  method=post>
  <div class="form-group">
    <label for="user1">Player 1</label>
    <input name="user1" class="form-control" id="user1" type="string" required></input>
  </div>
  <div class="form-group">
    <label for="user2">Player 2</label>
    <input name="user2" class="form-control" id="user2" type="string" required></input>
  </div>
  <div class="form-group">
    <label for="user3">Player 3</label>
    <input name="user3" class="form-control" id="user3" type="string" ></input>
  </div>
  <div class="form-group">
    <label for="user4">Player 4</label>
    <input name="user4" class="form-control" id="user4" type="string" ></input>
  </div>
  <div class="form-group">
    <label for="user5">Player 5</label>
    <input name="user5" class="form-control" id="user5" type="string" ></input>
  </div>
  <div class="form-group">
    <label for="user6">Player 6</label>
    <input name="user6" class="form-control" id="user6" type="string" ></input>
  </div>

  <button type="submit" class="btn btn-primary">Start</button>
</form>